body {
    margin: 0;
    background-color: #F3F3F3;
    overflow-x: hidden;
    
  }
  
  .splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 66vh;
    
  }
  
  .titre {
    font-family: 'Bangers', cursive;
    font-size: 7rem;
  } 
  
  .btn {
    font-size: inherit;
    background-color: hsl(214, 100%, 50%);
    padding: .5em 1em;
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: .2em;
    color: #333;
  }
  
  .btn:hover, .btn:focus {
    background-color: hsl(30, 100%, 40%);
  }
  
  .splash-btn {
    font-size: 2rem;
    margin-left: 2rem;
  }
  
  .splash-btn:first-child {
    margin-left: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .porteAvion-grid {
    margin: 2vmin;
    display: grid;
    background-color: hsl(202, 100%, 50%);
    grid-template-rows: repeat(10, 4.6vmin);
    grid-template-columns: repeat(10, 4.6vmin);
  }
  
  .taken,
  .ship {
    position: relative;
    background-color: hsl(0, 1%, 42%);
  }
  
  .taken.start.vertical,
  .taken.start.vertical::before {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  
  .taken.end.vertical,
  .taken.end.vertical::before {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  
  .taken.start.horizontal,
  .taken.start.horizontal::before {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  .taken.end.horizontal,
  .taken.end.horizontal::before {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  
  .taken.vertical::before,
  .taken.horizontal::before {
    content: '';
    position: absolute;
    border: .3vmin solid white;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
  }
  
  .taken.horizontal::before {
    animation: ripplesY 3s linear infinite;
    border-left: none;
    border-right: none;
  }
  
  .taken.vertical::before {
    animation: ripplesX 3s linear infinite;
    border-top: none;
    border-bottom: none;
  } 
  
  .ship > div {
    width: 4.6vmin;
    height: 4.6vmin;
  }
  
  .porteAvion-grid div {
    border: 1px solid hsla(0, 0%, 100%, .2);
  }
  
  .joueur {
    margin: 2vmin;
  }
  
  .connecté, .pret {
    font-weight: normal;
    opacity: .25;
    text-decoration: line-through;
  } 